@import compass/reset
@import compass/utilities
@import compass/css3
@import "compass/css3/transition"

// Base font
=font-default
  font: 13px Arial, Helvetica, sans-serif
  
$default-transition-function: ease

// Links
a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
    // Default style for visited links

body
  +font-default
  color: #00fa64
  background-image: url("/images/bg_pattern.jpg")
  font-family: monospace
  font-weight: bold
  font-size: 16px
  padding: 0
  .page
    +single-transition
    position: absolute
    left: -100%
    width: 848px
  .page.showing
    left: 50%
    margin-left: -424px 
    .sidebar
      position: fixed
      top: 0
      left: 0
      padding: 10px
      list-style: none
      background-color: rgba(255,255,255,0.50)
      li.active
        a
          color: black
  .btn
    cursor: pointer
  .comics
    .panel
    .panel.showing
  h1
    padding-top: 40px
    font-family: serif
    // padding-top: 0.5em
    font-size: 52px
    font-weight: bold
    text-align: center
    color: cyan
  .content
  #bignav
    padding: 5px
    margin: 0 auto
    width: 630px
    text-align: center
    img
      width: 200px
      height: 200px
