@import compass/reset
@import compass/utilities
@import compass/css3
@import "compass/css3/transition"

// Base font
=font-default
  font: 13px Arial, Helvetica, sans-serif
  
$default-transition-function: ease

// Links
a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
    // Default style for visited links

body
  +font-default
  color: #00fa64
  background-image: url("/images/bg_pattern_sampled.png")
  font-family: monospace
  font-weight: bold
  font-size: 16px
  padding: 0
  .page
    +single-transition
    position: absolute
    width: 848px
    .nav
      position: absolute
  .page.left
    left: -200%
  .page.right
    right: -200%
  .page.top
    top: -200%
  .page.bottom
    bottom: -200%
  .page.showing
    left: 50%
    top: 0px
    margin-left: -424px 
    .nav
      position: fixed
      top: 0
      left: 0
      padding: 10px
      background-color: rgba(255,255,255,0.50)
    .sidebar
      list-style: none
    li.active
      a
        color: black
  .btn
    cursor: pointer
  .comics
    .panel
    .panel.showing
  h1
    padding-top: 40px
    font-family: serif
    // padding-top: 0.5em
    font-size: 52px
    font-weight: bold
    text-align: center
    color: cyan
  .content
  .bignav
    margin: 0 auto
    width: 630px
    text-align: center
    padding: 5px
    .btn
      margin-bottom: 10px
      display: inline-block
      width: 200px
      height: 200px 
      background-color: rgba(255,255,255,0.50)
      vertical-align: middle
      text-align: center
