#intro.page
  %h1 PRETTY AWFUL.net
  #intro_content.content
    hi i'm sean and i'm pretty aweful. here is where i put the things i make and they are pretty aweful too.
    #bignav
      %img{:src=>"/images/comics.png"}
      %img{:src=>"/images/art.png"}
      %img{:src=>"/images/about.png"}
      %img{:src=>"/images/design.png"}
      %img{:src=>"/images/links.png"} 
