#home-page.center
  %h1 PRETTY AWFUL.net
  .content-container
    hi i'm sean and i'm pretty awful. here is where i put the things i make and they are pretty awful too.
    .bignav
      %img.btn(src="/images/comics.png" onClick="showPage('comics-menu')")
      %img.btn{:src=>"/images/art.png"}
      %img.btn{:src=>"/images/about.png"}
      %img.btn{:src=>"/images/design.png"}
      %img.btn{:src=>"/images/links.png"} 

#comics-menu-page.left
  %h1 COMICS
  .bignav
    = each_content_item("comics/comics") do |comic_name, comic_ext|
      - image = content_cover("comics/#{comic_name}")
      %a(href="comics/#{comic_name}")
        %img.btn{:src=>"comics/#{image}"}
    .btn(onClick="showPage('home')") HOME

